*, *:before, *:after {
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-text-size-adjust:none;
  -ms-text-size-adjust:none;
  text-size-adjust:none;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3,
h4, h5, h6, pre, code, form, field set, legend,
input, textarea, p, blockquote, th, td {
  margin:0;
  padding:0;
	-webkit-appearance:none;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

fieldset, img {
  border:0;
}

address, caption, cite, code,
dfn, em, strong, th, var {
  font-style:normal;
  font-weight:normal;
}

li {
  list-style:none;
}

caption, th {
  text-align:left;
}

h1, h2, h3, h4, h5, h6 {
  font-size:100%;
  font-weight:normal;
}

q:before,
q:after {
  content:"";
}

abbr, acronym {
  border:0;
  font-variant:normal;
}

sup {
  vertical-align:text-top;
}

sub {
  vertical-align:text-bottom;
}

input, textarea, select {
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
}

input:password {
  ime-mode:disabled;
}

*:focus {
  outline:none;
}

ul {
  margin:0;
	list-style:none;
}
html,body{ font-family: "微软雅黑"; min-height:100%; font-size:18px; line-height: 24px; }
a{ text-decoration: none;}
.clearfix:after { content: ""; height: 0; visibility: hidden; display: block; clear: both; }
.clearfix { zoom: 1; }

/**补齐前缀**/
@mixin transition($a,$b){
  transition:$a $b;
  -webkit-transition: $a $b;
  -moz-transition: $a $b;
  -ms-transition: $a $b;
}

@mixin transform($a){
  transform:$a;
  -webkit-transform:$a;
  -moz-transform:$a;
  -ms-transform:$a;
}


/**通用动画**/
.scale{
  @include transition(all,0.3s)
}
.scale:hover{
  transform: scale(1.1,1.1);
}

.ani-show{
  opacity:0;
  @include transform(translateY(80px));
  @include transition(all,2s);
}

.ani-in{
  opacity:1;
  @include transform(translateY(0));
  margin-top:0;
  .t1,.t2{
    opacity:1;
    @include transform(translateY(0));
  }
  .ring{
    opacity:1;
    @include transform(translateY(0));
  }
}

/**通用类**/
.bg-fff{
  background:#fff;
}

.wrapper{
  width:1000px;
  margin:0 auto auto auto;
}


.header{
  height:830px;
  position:relative;
  background-size:100% auto;
  overflow:hidden;
  .h-bg{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:830px;
    background: url(../images/top_bg.jpg) center no-repeat;
    @include transition(all,8s);
    &:hover{
      @include transform(scale(1.1));
    }
  }
  .txt{
    position:absolute;
    top:340px;
    left:50%;
    margin-left:-215px;
    width:430px;
    height:134px;
    background:url(../images/txt.png) center no-repeat;
    overflow:hidden;
    text-indent: -9999px;
  }
  .h-bottom{
    position: absolute;
    width:100%;
    left:0;
    bottom:0;
    padding:15px 0 24px 0;
    background:url(../images/btm_bg.png);
    .wrapper{
      padding-top:7px;
      a{
        display:block;
        width:324px;
        height:122px;
        float:left;
        overflow:hidden;
        margin-left:7px;
        @include transition(color,.5s);
        &:hover{
          color:#cba869;
        }
      }
      li{
        float:left;
        width:33.33%;
        text-align:center;
        a{
          display:inline;
          width:auto;
          height:auto;
          float:none;
          color:#000;
        }
      }
    }
    ul{
      padding-bottom:4px;
      background:#fff;
    }
  }
}

.top-nav{
  position: fixed;
  width:100%;
  padding:22px 0;
  background: rgba(255,255,255,.9);
  *background:url(../images/nav_bg.png);
  z-index:999;
  @include transition(all,.8s);
  .logo{
    padding:0;
    a{
      width:147px; 
      height:126px;
      background: url(../images/logo.png) center no-repeat;
      border:none;
    }
    a:hover{
      border:none;
    }
  }
  li{
    width:14.28%;
    *width:14.24%;
    float:left;
    text-align: center;
    padding-top:46px;
    @include transition(all,.5s);
    a{
      display:inline-block;
      width:128px;
      height:33px;
      line-height:33px;
      border:1px solid transparent;
      color:#cba869;
    }
    a:hover{
      border:1px solid #cba869;
    }
  }
  .on{
     border:1px solid #cba869;
  }
}

/***顶部导航栏变小***/
.not-top{
    padding:12px 0;
    background:rgba(230,205,158,.9);
    *background:url(../images/nav_bg_a.png);
    .logo{
      a{
        width:92px; 
        height:88px;
        background: url(../images/logo_m.png) center no-repeat;
      }
    }
    li{
      padding-top:24px;
      a{
        color:#fff;
        &:hover{
          border-color:#fff;
        }
      }
      .on{
        border-color: #fff;
      }
    }
}

.main{
  padding-top:80px;
  padding-bottom:120px;
  p{
    color:#343434;
  }
  .culture{
    text-align:center;
    h3{
      display:block;
      width:130px;
      border:1px solid #343434;
      padding:6px 24px;
      margin:0 auto 54px auto;
    }
    p{
      color:#343434;
      line-height:34px;
    }
  }

  .unique{
    margin-top:104px;
    >div{
        float:left;
        position:relative;
        width:50%;
        height:400px;
    }
    .un-l{
      background:#f1f1f1;
      p{
        position:absolute;
        left:90px;
      }
      .title{
        top:76px;
        width:213px;
        height:77px;
        background:url(../images/unique.png) no-repeat;
      }
      .stand{
        top:166px;
        width:304px;
        height:110px;
        background:url(../images/stand.png) no-repeat;
      }
    }
    .un-r{
      background:#343434;
      p{
        position:absolute;
        right:67px;
        text-indent:-9999px;
      }
    }
  }

  .light{
    margin-top:113px;
    height:280px;
    >div{
      float:left;
      position:relative;
    }
    .li-l{
      width:400px;
      height:280px;
      p{
        position:absolute;
        left:35px;
        top:20px;
        width:320px;
        line-height:30px;
        text-align:justify;
      }
      .square{
        top:213px;
        width:78px;
        height:19px;
        background:url(../images/square.png) no-repeat;
      }
    }
    .li-r{
      float:left;
      width:600px;
      li{
        float:left;
        width:194px;
        height:135px;
        overflow:hidden;
        margin-left:5px;
        margin-bottom:5px;
        img{
          display:block;
        }
      }
    }
  }

  .standards{
    height:400px;
    margin-top:130px;
    >div{
      float:left;
      position:relative;
    }
    .st-l{
      width:560px;
      height:400px;
      background:url(../images/standards.jpg) no-repeat;
    }
    .st-r{
      width:440px;
      height:400px;
      p{
        position:absolute;
        left:44px;
        top:107px;
        width:380px;
        text-align:justify;
        line-height:30px;
      }
      a{
        position:absolute;
        left:129px;
        top:254px;
        display:block;
        color:#ab8638;
        border:1px solid #ab8638;
        padding:4px 10px;
        @include transition(all,.5s);
        &:hover{
          color:#fff;
          background:rgba(219,190,128,.9);
          border:1px solid #fff;
        }
      }
    }

  }

  .intro{
    margin-top:130px;
    padding-top:50px;
    padding-bottom:20px;
    background:#f1f1f1;
    text-align:center;
    line-height:30px;
    a{
      display:inline-block;
      margin-top:20px;
      color:#ab8638;
      border:1px solid #ab8638;
      padding:4px 10px;
      @include transition(all,.5s);
      &:hover{
        color:#fff;
        background:rgba(219,190,128,.9);
        border:1px solid #fff;
      }
    }
  }

  .photo{
    margin-top:65px;
    >div{
      float:left;
      overflow:hidden
    }
    .ph-l{
      width:500px;
      height:695px;
    }
    .ph-r{
      width:480px;
      margin-left:20px;
      div{
        overflow:hidden;
      }
      .img1{
        width:478px;
        height:464px;
      }
      .img2{
        margin-top:25px;
        width:477px;
        height:206px;
      }
    }
  }
  
}

.footer{
  padding:26px 0;
  background:#eaeaea;
  a{
    color:#888;
    @include transition(all,.5s);
    &:hover{
      color:#dbbe80;
    }
  }
  .web-right{
    width:1000px;
    margin:0 auto auto auto;
    font-size:14px;
    color:#888;
    text-align:center;
    border-bottom:1px solid #a0a0a0;
  }
  .links{
     width:1000px;
     margin:0 auto auto auto;
     padding:6px 0;
     font-size:14px;
     color:#888;
     text-align:center;
     li{
      width:10%;
      float:left;
      font-weight:bold;
     }
     a{
      font-weight:normal;
     }
  }
}

.f-con{
  width:1000px;
  margin:0 auto auto auto;
  padding-top:62px;
  border-top:1px solid #a0a0a0;
  .b-logo{
    display:block;
    float:left;
  }
  .mod{
    float:left;
    width:140px;
    text-align:center;
    border-right:1px solid #a0a0a0;
    h3{
      font-size:14px;
      font-weight:bold;
      color:#888;
    }
    a{
      font-size:14px;
      line-height:18px;
    }
    span{
      display:block;
      font-size:14px;
      color:#888;
      line-height:24px;
    }
    ins{
      color:#dbbe80;
      font-size:22px;
      text-decoration:none;
    }
  }
  .no-bor{
    border:none;
    width:auto;
    text-align:left;
    padding-left:40px;
  }
}

/**降低动画元素 权重**/
.t2{
  top:200px;
  width:322px;
  height:33px;
  background:url(../images/t2.png) no-repeat;
  @include transform(translateY(50px));
}
.t1{
  top:134px;
  width:202px;
  height:47px;
  background:url(../images/t1.png) no-repeat;
  @include transform(translateY(-50px));
}
.t1,.t2{
  opacity:0;
  @include transition(all,1.5s .5s);
}

.ring{
  position:absolute;
  left:68px;
  top:-32px;
  opacity:0;
  @include transform(translateY(-50px));
  @include transition(all,2s .5s);
}

/***质量&工艺页面***/
.header.quality{
  .h-bg{ 
    background: url(../images/quality_bg.jpg) center no-repeat;
  }
  .txt{
    width:467px;
    height:127px;
    margin-left:-233px;
    background: url(../images/quality_txt.png) no-repeat;
  }
}
.main.quality{
  .culture{

    h3{
      width:140px;
    }
    p{
      color:#000;
      text-align:center;
    }
  }
  p{
    color:#666;
    text-align:justify;
    line-height:28px;
  }

  .inner-arc{
      height:405px;
      position: relative;
      .arc-l{
        margin-top:96px;
        width:696px;
        height:405px;
        background:#f1f1f1;
      }
      .txt{
        position:absolute;
        left:543px;
        top:64px;
        width:392px;
        height:99px;
        background: url(../images/quality/txt1.png);
      }
      p{
        position:absolute;
        left:540px;
        top:187px;
        width:400px;
      }
  }

  .polish{
    position:relative;
    margin-top: 120px;
    height:400px;
    .img-box{
      position: relative;
      margin-left:304px;
      width:696px;
      height:400px;
      background: #f1f1f1;
    }
    .txt{
      position:absolute;
      left:70px;
      top:80px;
      width:317px;
      height:100px;
      background: url(../images/quality/txt2.png);
    }
    p{
      position:absolute;
      left:70px;
      top:211px;
      width:410px;
    }
  }

  .sealed{
    height:424px;
    margin-top:120px;
    position: relative;
    .img-box{
      width:695px;
      height:424px;
      background: #f1f1f1;
      position: relative;
    }
    .txt{
      position: absolute;
      left:590px;
      top:65px;
      width:341px;
      height:106px;
      background: url(../images/quality/txt3.png);
    }
    p{
      position: absolute;
      left:593px;
      top:193px;
      width:340px;
    }
  }

  .thickness{
    margin-top:120px;
    height:406px;
    position: relative;
    .img-box{
      width:700px;
      height:406px;
      margin-left:300px;
      background: #f1f1f1;
      position: relative;
    }
    .txt{
      position: absolute;
      left:71px;
      top:30px;
      width:408px;
      height:101px;
      background: url(../images/quality/txt4.png);
    }
    p{
      position: absolute;
      left:71px;
      top:156px;
      width:363px;
    }
  }

  .title-5c{
    height:105px;
    margin-top:184px;
    margin-bottom: 30px;
    background: url(../images/quality/t0.png) center no-repeat;
    text-indent: -9999px;
  }

  .intro-5c{
    height:326px;
    margin-top: 35px;
    .in-l{
      float: left;
      width:396px;
      padding:15px 16px 0px 16px;
      h3{
        width:321px;
        height:68px;
        margin-bottom:30px;
      }
      p{
        margin-bottom: 10px;
        font-size:16px;
        line-height: 24px;
      }
    }
    .in-r{
      width:564px;
      float: right;
    }
  }

  .last-5c{
    height:230px;
  }

}

/**quality单独动画元素**/
.ring-arc{
  margin:80px 0 0 25px;
  opacity:0;
  @include transform(translateY(-50px));
  @include transition(all,2.5s .5s);
}

.ring-polish{
  position: absolute;
  left:280px;
  top:-87px;
  opacity:0;
  @include transform(translateY(-50px));
  @include transition(all,2.5s .5s);
}

.ring-sealed{
  position: absolute;
  top:88px;
  left:22px;
  opacity:0;
  @include transform(translateY(-50px));
  @include transition(all,2.5s .5s);
}

.ring-th{
  position: absolute;
  top:-51px;
  left:256px;
  opacity:0;
  @include transform(translateY(-50px));
  @include transition(all,2.5s .5s);
}

.ani-l{
  opacity:0;
  @include transform(translateX(-50px));
  @include transition(all,2s);
}

.ani-r{
  opacity:0;
  @include transform(translateX(50px));
  @include transition(all,2s);
}

.ani-in{
  .ring-arc{
    opacity:1;
    @include transform(translateY(0));
  }
  .ring-polish{
    opacity:1;
    @include transform(translateY(0));
  }
  .ring-sealed{
    opacity:1;
    @include transform(translateY(0));
  }
  .ring-th{
    opacity:1;
    @include transform(translateY(0));
  }
  .ani-l,.ani-r{
    opacity:1;
    @include transform(translateX(0));
  }
}

/***系列产品页面***/
.header.goods{
  height:537px;
  .h-bg{
    height:537px;
    background:url(../pic/goods/goods_banner.jpg) center no-repeat;
  }
}

.main.goods{
  padding:0 0 20px 0;
  .site{
    padding:30px 0;
    font-size: 16px;
    color:#a8a8a8;
    line-height: 20px;
    a{
      color:#a8a8a8;
      &:hover{
        color:#e6ce9e;
      }
    }
  }

}

.goods-box{
  
  .goods-img{
    float:left;
    width:475px;
    /*图片放大镜样式*/
      .jqzoom{float:left;border:none;position:relative;padding:0px;cursor:pointer;margin:0px;display:block;}
      .jqzoom img{width:434px;height:434px;}
      .zoomdiv{z-index:100;position:absolute;top:0px;left:0px;width:562px;height:434px;background:#ffffff;border:1px solid #e9e9e9;display:none;text-align:center;overflow:hidden;}
      .jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:20px;height:20px;border:1px solid #aaa;background:#ffffff /*url(../images/zoom.png) 50% center no-repeat*/;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}

      /*图片小图预览列表*/
      .spec-preview{width:434px;height:434px; border:1px solid #e9e9e9; overflow: hidden;}
      .spec-scroll{clear:both;margin-top:5px;width:434px;}
      .spec-scroll .prev{float:left;margin-right:4px;}
      .spec-scroll .next{float:right;}
      .spec-scroll .prev,.spec-scroll .next{display:block;font-family:"宋体";text-align:center;width:10px;height:72px; line-height:72px;border:1px solid #CCC;background:#EBEBEB;cursor:pointer;text-decoration:none;}
      .spec-scroll .items{float:left;position:relative;width:405px;height:86px;overflow:hidden;}
      .spec-scroll .items ul{position:absolute;width:999999px;height:86px;}
      .spec-scroll .items ul li{float:left;width:82px;text-align:center;}
      .spec-scroll .items ul .cur-img img{border:2px solid #e6ce9e;padding:1px;}
      .spec-scroll .items ul li img{border:1px solid #e9e9e9;padding:2px;width:72px;height:72px;}
      .spec-scroll .items ul li img:hover{border:2px solid #e6ce9e;padding:1px;}
  }

  .goods-price{
    float: left;
    width:440px;
    h3{
      padding-top: 35px;
      font-size:27px;
      color:#515151;
      border-bottom:1px solid #d5d5d5;
      padding-bottom: 10px;
      span{
        font-size:15px;
        color:#9e9e9e;
        margin-left:5px;
      }
    }

  }
  p{
    font-size: 16px;
    color:#808080;
    padding:25px 0 12px 0px;
  }
  .other-ser{
    a{
      display:inline-block;
      *display: inline-block;
      color:#808080;
      padding:0 8px;
      &:hover{
        background: #e6ce9e;
        border-radius: 2px;
        color:#fff;
      }
    }
    .on{
      background: #e6ce9e;
      border-radius: 2px;
      color:#fff;
    }
      font-size: 16px;
      color:#808080;
    }
}

.btn-or{
  font-size:16px;
  display: inline-block;
  *display: inline;
  padding:2px 4px;
  color:#fff;
  background:#cba869;
  margin-top:60px;
  @include transition(all,.5s);
  &:hover{
    background:#e6ce9e;
  }
}

.price-box{
  height:42px;
  padding:10px 0 40px 0;
  line-height: 42px;
  font-size:42px;
  color:#e6ce9e;
  .desc{
    font-size:15px;
  }
}

.choose-type{
  padding-top:40px;
  border-bottom:1px solid #d5d5d5;
  li{
    float:left;
    font-size: 16px;
    color:#808080;
    padding-bottom:20px;
    span{
      display: inline-block;
      *display:inline;

    }
    div{
      display: inline-block;
      *display:inline;
      min-width:110px;
    }
  }
}

.share{
  height:50px;
}

.detail-box{
  background: #eee;
  padding:12px;
  margin-top: 75px;
  >div{
    border:1px solid #aeaeae;
    padding:20px 0;
  }
  table{
    width:850px;
    margin:0 auto auto auto; 
    font-size: 16px;
    color:#6f6f6f;
    td{
      height:37px;
    }
  }
}

.user-content{
  border:1px solid #aeaeae;
  margin-top:50px;
  padding:10px 0;
}

.guss{
  font-size: 30px;
  color:#cba869;
  line-height: 30px;
  margin:30px 0;
  text-align:center;
}

.border{
  border:1px solid #aeaeae;
}

.guss-box{

  a{
    display: block;
    width:33.33%;
    float:left;
    position:relative;
    &:after{
      content:"";
      position: absolute;
      height:80%;
      width:1px;
      background: #aeaeae;
      right: -1px;
      top:10%;
      z-index: 2;
    }
    img{
      width:100%;
    }
  }
  a:last-child{
    &:after{
      display:none;
    }
  }
}

.mt-40{
  margin-top:40px;
}

.about-box{
  height:300px;
  overflow: hidden;
  div{
    width:33.33%;
    height:300px;
    padding-top:45px;
    float:left;
    position:relative;
    text-align: center;
    font-size:15px;
    &:after{
      content:"";
      position: absolute;
      height:80%;
      width:1px;
      background: #aeaeae;
      right: -1px;
      top:10%;
      z-index: 2;
    }
    .notice{
      color:#606060;
    }
    dl{
      padding-top:10px;
      font-size:28px;
      color:#caa548;
      margin-bottom:6px;
      dt{
        line-height: 40px;
      }
    }
    p{
      color:#9c9c9c;
      line-height: 22px;
    }
    .btn-or{
      width:110px;
      margin-top:24px;
    }
  }
  div:last-child{
    &:after{
      display:none;
    }
  }
}

/**设计团队**/
.main.design{
  padding-top:0;
  .team{
    height:422px;
    margin-top:0;
    @include transform(translateY(0));
    background:url(../images/design/design_bg.jpg) center no-repeat;
    position:relative;
    a{
      position:absolute;
      left:174px;
      top:242px;
      width:126px;
      line-height:36px;
      text-align:center;
      color:#343434;
      font-size:18px;
      border:1px solid #343434;
    }
  }

  .intro{
    margin-top:60px;
    text-align:center;
    background:none;
    h3{
      color:#000;
      font-size:20px;
      margin-bottom:30px;
    }
    p{
      color:#bcbcbc;
      line-height:30px;
    }
  }

  .avatar{
    width:800px;
    margin:88px auto auto auto;
    li{
      width:33.33%;
      float:left;
      text-align:center;
    }
  }

  .classic{
    height:610px;
    margin-top:160px;
    position:relative;
    .class-box{
      position:absolute;
      left:50px;
      top:0;
      width:576px;
      height:434px;
      padding-top:260px;
      background:url(../images/design/idear.png) center no-repeat;
      z-index:3;
      text-align:center;
      line-height:30px;
      color:#bcbcbc;
      font-size:16px;
      a{
        color:#000;
        border-bottom:1px solid #000;
        line-height:46px;
      }
    }
    img{
      position:absolute;
      left:490px;
      top:41px;
    }
  }
}

.ani-delay-top{
  @include transform(translateY(20px));
  @include transition(all,2s 0.5s);
  opacity:0;
}

.ani-in{
  .ani-delay-top{
    @include transform(translateY(0px));
    opacity:1;
  }
}






